body {
    font-family: Arial, sans-serif;
    background-color: #0d1b4c;
    color: white;
    height: 100vh;
    overflow-x: hidden;
}

main {
    min-height: 80vh;
    width: 100vw;
}

section {
    min-height: 80vh;
    width: 100vw;
}

.container {
    text-align: center;
    background-color: #11207b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 1.5em;
}

.header h2 {
    font-size: 3em;
}

.car-image img {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
}

.carro {
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

.header h1 {
    color: #fff;
    font-family: Georama;
    font-size: clamp(2rem, 1.5625rem + 1.75vw, 2.875rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
}

.header h2 {
    color: #fff;
    font-family: Georama;
    font-size: clamp(6.25rem, 3.125rem + 12.5vw, 12.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titulo {
    background-color: #fff;
    color: #000;
    padding: 40px;
}

.title-icon {
    display: flex;
    justify-content: space-between;
}

.title-icon img {
    width: 100px;
    height: 100px;
}

.card {
    border: 4px solid #00005b;
    background: linear-gradient(180deg, #0054ff 0%, #00005a 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card h3 {
    text-align: start;
    color: #fff;
    font-family: Georama;
    font-size: clamp(1.5rem, 1.125rem + 1.5vw, 2.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card p {
    font-size: 1.5em;
    text-align: start;
}

@media (max-width: 999px) {
    .info-cards {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .car-image img {
        position: absolute;
        top: 130px;
        width: 100%;
        max-width: 400px;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .info-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 330px;
    }
    .car-image {
        position: fixed;
        width: 100%;
        max-width: 400px;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #0d1b4c;
    color: white;
    height: 100vh;
    overflow-x: hidden;
}

main {
    min-height: 80vh;
    width: 100vw;
}

section {
    min-height: 80vh;
    width: 100vw;
}

.container {
    text-align: center;
    background-color: #11207b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 1.5em;
}

.header h2 {
    font-size: 3em;
}

.car-image img {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
}

.carro {
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

.header h1 {
    color: #fff;
    font-family: Georama;
    font-size: clamp(2rem, 1.5625rem + 1.75vw, 2.875rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
}

.header h2 {
    color: #fff;
    font-family: Georama;
    font-size: clamp(6.25rem, 3.125rem + 12.5vw, 12.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titulo {
    background-color: #fff;
    color: #000;
    padding: 40px;
}

.title-icon {
    display: flex;
    justify-content: space-between;
}

.title-icon img {
    width: 100px;
    height: 100px;
}

.card {
    border: 4px solid #00005b;
    background: linear-gradient(180deg, #0054ff 0%, #00005a 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card h3 {
    text-align: start;
    color: #fff;
    font-family: Georama;
    font-size: clamp(1.5rem, 1.125rem + 1.5vw, 2.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card p {
    font-size: 1.5em;
    text-align: start;
}

@media (max-width: 999px) {
    .info-cards {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .car-image img {
        position: absolute;
        top: 130px;
        width: 100%;
        max-width: 400px;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .info-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 330px;
    }
    .car-image {
        position: fixed;
        width: 100%;
        max-width: 400px;
    }
}
