* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Georama", sans-serif;
    }
    
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

    :root {
    --dark-blue: #00005a;
    --light-blue: #0054ff;
    --cyan: #00f3ff;
    --bg-black: #1a1a1a;
    --white-default: #fff;
    --linear-gradient: linear-gradient(73deg, #0054ff -0.65%, #00005a 99.23%), #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    height: 10vh;
    width: 100vw;
    background-color: var(--bg-black);
}

ul,
li,
a,
ol {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/**** Btn Login ****/
#link-login {
    border-radius: 10px;
    background: var(--linear-gradient);
}

#link-login .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    padding: 6px;
    border-radius: 100%;
    background-color: var(--white-default);
}

#btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 12px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white-default);
}

/**** Menu burguer ****/
.menuToggle {
    display: none;
    position: absolute;
    top: 2.7em;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menuToggle span {
    display: none;
    height: 0.4rem;
    width: 100%;
    background-color: var(--white-default);
    border-radius: 0.2rem;
}

/**** Menu Header ****/
.menu {
    display: flex;
    gap: 1rem;
}

.item-menu {
    width: max-content;
    height: max-content;
    padding: 4px 12px;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
}

.item-menu::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 10;
    left: 0;
    width: 0;
    border-bottom: 3px solid #0054ff;
    transition: width 0.5s ease;
}

.item-menu:hover::after {
    width: 100%;
}

.link-menu {
    color: var(--white-default);
    font-size: 1.5rem;
    font-weight: 500;
}
/* =================================================== */

main {
    min-height: 80vh;
    width: 100vw;
}

.banner-inicio {
    position: relative;
    display: inline-block;
}

.banner-inicio h1 {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
}

.img-inicio{
    width: 100vw;
    height: 15vh;
}
/* ======================================================================== */
.boxs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    width: 30%;
    margin: 10px;
    padding: 20px;
    align-items: center;
    border: 2px solid;
    border-image: var(--linear-gradient);
    border-radius: 10px;
}

.titulo1{
    color: var(--dark-blue);
}

.data{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
}

.flag-img1{
    width: 50px;
    height: auto;
}

.race-img1{
    width: 300px;
    height: auto;
}

.flag-img2 {
    width: 50px; 
    height: auto;
}

.race-img2 {
    width: 300px; 
    height: auto;
    justify-content: center;
}

.flag-img3 {
    width: 50px; 
    height: auto;
}

.race-img3 {
    width: 300px; 
    height: auto;
    justify-content: center;
}

.flag-img4 {
    width: 50px; 
    height: auto;
}

.race-img4 {
    width: 300px; 
    height: auto;
    justify-content: center;
}

.flag-img5 {
    width: 50px; 
    height: auto;
}

.race-img5 {
    width: 300px; 
    height: auto;
    justify-content: center;
}

.flag-img6 {
    width: 50px; 
    height: auto;
}

.race-img6 {
    width: 300px; 
    height: auto;
    justify-content: center;
}


/* =============================================== */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    width: 100vw;
    height: 10vh;
    background-color: var(--bg-black);
}

.contt-email {
    display: flex;
    gap: 8px;
}

.contt-email p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.copyright {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.social-media {
    display: flex;
    gap: 2rem;
}

.icon-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: 0.5s ease;
    background: var(--white-default);
    color: var(--bg-black);
}

.icon-media:hover {
    background: var(--linear-gradient);
    color: var(--white-default);
}

@media (max-width: 1080px) {
    .contt-email p {
        font-size: 1rem;
    }

    .contt-email svg {
        width: 20px;
        height: auto;
    }

    .copyright {
        font-size: 1rem;
    }

    .icon-media {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    footer {
        padding: 0px 60px;
    }
}

@media (max-width: 840px) {
    .contt-email p {
        font-size: 0.75rem;
    }

    .contt-email svg {
        width: 1rem;
        height: auto;
    }

    .copyright {
        font-size: 0.75rem;
    }

    .icon-media {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .social-media {
        gap: 1rem;
    }
}

@media (max-width: 640px) {
    footer {
        display: flex;
        flex-direction: column;
        min-height: 10vh;
        height: auto;
        padding: 1rem 0px;
        gap: 1.5rem;
    }

    .contt-email p {
        font-size: 1rem;
    }

    .contt-email svg {
        width: 20px;
        height: auto;
    }

    .copyright {
        font-size: 1rem;
    }

    .icon-media {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.1rem;
    }
}


@media (max-width: 1080px) {
    header img {
        height: 60%;
        width: auto;
    }

    .link-menu {
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    header {
        padding: 0px 60px;
    }
}

@media (max-width: 540px) {
    /**** Menu burguer Show ****/
    .menuToggle span {
        height: 3px;
        display: flex;
        border-top-color: transparent;
    }

    /* ----- animations--------- */
    /* clicked */
    .menu-span.clicked:nth-child(1) {
        height: 2px;
        transform-origin: 0% 0%;
        transform: rotate(45deg) translate(2px, 2px);
        transition: ease-out 0.5s;
    }

    .menu-span.clicked:nth-child(2) {
        display: none;
    }

    .menu-span.clicked:nth-child(3) {
        height: 2px;
        transform-origin: 0% 100%;
        transform: rotate(-45deg) translate(2px, -2px);
        transition: ease-out 0.5s;
    }

    /* unclicked */
    .menu-span.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    } /* ----- animations--------- */
    /* clicked */
    .menu-span.clicked:nth-child(1) {
        height: 2px;
        transform-origin: 0% 0%;
        transform: rotate(45deg) translate(2px, 2px);
        transition: ease-out 0.5s;
    }

    .menu-span.clicked:nth-child(2) {
        display: none;
    }

    .menu-span.clicked:nth-child(3) {
        height: 2px;
        transform-origin: 0% 100%;
        transform: rotate(-45deg) translate(2px, -2px);
        transition: ease-out 0.5s;
    }

    /* unclicked */
    .menu-span.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }

    header img {
        height: 60%;
        width: auto;
    }

    header {
        height: auto;
        padding: 0rem 2rem;
        padding-top: 1.6rem;
        gap: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: start;
    }

    nav {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition:
            opacity 0.5s ease,
            max-height 2s ease;
    }

    .open {
        opacity: 1;
        max-height: 1000px;
        /* Ajuste isso para uma altura máxima suficientemente grande */
        transition:
            opacity 0.8s ease,
            max-height 3s ease;
    }

    .link-menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0.2rem;
        font-size: 1.55rem;
    }

    .menu li {
        display: flex;
        width: 100%;
    }
}