body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    gap: 4%;
    width: 100vw;
    min-height: 65vh;
    padding: 0px 120px;
    overflow-x: auto;
}

.bg-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 800px;
    height: 80%;
    border-radius: 20px;
    padding: 3px;
    background: var(--linear-gradient-cyan);
}

.card {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--dark-blue);
}

.box-info {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.img-card {
    height: 100%;
}

#nome {
    color: var(--cyan);
    font-size: 40px;
    font-weight: 700;
}

#idade {
    color: var(--white-default);
    font-size: 32px;
    font-weight: 600;
}

#area {
    margin-top: 32px;
    color: var(--white-default);
    font-size: 40px;
    font-weight: 700;
}

.media {
    display: flex;
    gap: 1.5rem;
    margin-top: 40%;
}

.icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 32px;
    border-radius: 100%;
    transition: 0.5s ease;
    background: #2a46d8;
    color: var(--white-default);
}

.icon-card:hover {
    background: var(--linear-gradient);
    color: var(--white-default);
}

.titulo {
    display: flex;
    align-items: center;
    height: 15vh;
    color: #fff;
    padding-left: 120px;
    font-size: 3.5rem;
    font-weight: 600;
    background-position: bottom;
    background-size: cover;
    background: url(../assets/bg-top.png);
}
