.sec1{
    width: 100%;
    height: 100%;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: left;
}

.box1 img{
    display: flex;
    width: 100vw;
    height: 12vh;
}

.box1 h1{
    font-size: 2em;
    position: absolute;
    margin-left: 7rem;
    color: aliceblue;
}

.box2{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.box2 img{
    width: 55vw;
}

.box2 p{
    font-size: 32px;
    padding: 80px;
}

.sec2{
    width: 100%;
    height: 100%;
}

.sec2 h1{
    margin-bottom: 45px;
    text-align: center;
    color: #00005A;
}

.container-tech{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.info-tech{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    border: 2px solid #D1C7C7;
}

.info-tech img{
    width: 30vw;
    height: 30vh;
    border-radius: 20px;
    border: 0.29px solid #00343c;
}

.text-tech{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-tech h3{
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 600;
    color: #00005A;
}

.text-tech p{
    font-size: 100%;
    font-weight: 400;
    color: black
}

@media (max-width: 1440px) {
    body {
        background-color: var(--color2-light-green);
    }
    .box2 p{
        font-size: 25px;
    }
    .info-tech img {
        width: 100%;
        height: 50%;
        min-height: 180px;
    }

    .info-tech {
        height: 100%;
        background: transparent;
    }

    .text-tech h3 {
        margin-top: 8px;
        font-size: 1.25rem;
    }

    .text-tech p {
        font-size: 90%;
    }
}
@media (max-width: 960px) {
    body {
        background-color: var(--color2-light-green);
    }

    .box2 p{
        font-size: 25px;
        padding: 10px;
    }

    .container-tech {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }

    .info-tech:nth-child(3) {
        display: flex;
        flex-direction: row;
        grid-column: 1/-1;
        gap: 1rem;
    }

    .info-tech:nth-child(3) img {
        width: 48%;
        height: 20%;
    }
}

@media (max-width: 640px) {
    .box2 p{
        font-size: 13px;
        padding: 10px;
    }

    .info-tech {
        display: flex;
        flex-direction: row;
        grid-column: 1/-1;
        align-items: center;
        gap: 1rem;
    }

    .info-tech img {
        width: 48%;
        height: 20%;
    }
    .text-tech h3 {
        margin-top: 8px;
        font-size: 1rem;
    }

    .text-tech p {
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .box2 p{
        font-size: 13px;
        padding: 10px;
    }

    .info-tech {
        width: 100%;
        gap: 40px;
    }

    .info-tech:nth-child(*) img {
        width: 30% !important;
        height: auto !important;
        border-radius: 8px;
        min-height: auto;
    }
    .text-tech h3 {
        margin-top: 8px;
        font-size: 1rem;
    }

    .text-tech p {
        font-size: 0.6rem;
    }
}

